body {
    margin: 0;
    background-color: #264653;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

#main-title {
    margin-top: 2vh;
    text-align: center;
}

#task-button {
    position: fixed;
    bottom: 10;
    left: 10;
    width: 5vh;
}

.d-none {
    display: none;
}

.list {
    text-align: center;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-row-gap: 2vh;
}

#task-list-table {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    background-color: #2A9D8F;
    text-align: center;
    border: none;
    border-collapse: collapse
}

#task-list-table th {
    border: 1px solid#000;
}

#task-list-table td {
    border-left: 1px solid #000;
}

#task-list-table td:first-child {
    border-left: none;
}

.rotated {
    transform: rotate(45deg);
}

.task-card {
    background-color: #e9c46a;
    width: 20vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.1vh;
    padding-bottom: 1vh;
    border: 1px none;
    border-radius: 1vw;
}

.card-title {
    border-bottom: 1px solid black;
}

.card-due-date {
    border-bottom: 1px solid black;
}

.card-status {
    border-bottom: 1px solid black;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}